@font-face {
    font-family: Mallanna;
    src: url(../fonts/Mallanna-Regular.ttf);
}

@font-face {
    font-family: Ramabhadra;
    src: url(../fonts/Ramabhadra-Regular.ttf);
}

@font-face {
    font-family: Timmana;
    src: url(../fonts/Timmana-Regular.ttf);
}

@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald-Bold.ttf);
}

body {
    font-family: 'Ramabhadra', sans-serif;
}

.page-section1 {
    background: url(../images/main-bg-min.jpg) no-repeat;
    height: 100vh;
    background-size: cover;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.header {
    /* background: linear-gradient(78.64deg, #00B548 -10.44%, #07127B 138.66%); */
    /* border: 8px solid #01B14A; */
    box-sizing: border-box;
    border-radius: 121px;
    text-align: center;
    color: #3F51B5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 27px;
}


/* .header::before {
    content: '';
    background: linear-gradient(78.64deg, #00B548 -10.44%, #07127B 138.66%);
    position: absolute;
    width: 100%;
    height: 8px;
    border-radius: 18px;

    z-index: -1;
} */

.ap-logo img {
    width: 78px;
}

.scheme-title {
    margin: 0px 16px;
    /* background: linear-gradient(45deg, #2196F3, #4CAF50); */
    border-radius: 77px;
    color: white;
    padding: 0px 51px;
    background: linear-gradient(78.64deg, #00B548 -10.44%, #07127B 138.66%);
    border: 8px solid #01B14A;
    width: 70%;
}

.scheme-title h1 {
    font-size: 4rem;
    text-shadow: 2px 2px 2px #262627;
}

.scheme-title h2 {
    font-size: 1.5rem;
    font-family: Mallanna;
    margin-bottom: 7px;
}

.scheme-title h1 span {
    font-size: 2.9rem;
    font-family: Mallanna;
    margin-bottom: 7px;
    text-shadow: none;
}

.ysr-logo img {
    width: 100px;
}

.cm-logo img {
    width: 100%;
}

.cm-name {
    position: absolute;
    bottom: 0px;
    /* text-align: center; */
    width: 100%;
    /* background: #050579; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    border-radius: 17px;
    color: black;
}

.cm-name h2 {
    font-size: 27px;
    /* font-family: 'Mallanna'; */
    /* color: #171514; */
    margin-bottom: 3px;
    font-family: 'Timmana', sans-serif;
}

.cm-name h3 {
    font-size: 22px;
    font-family: 'Mallanna';
    /* color: #4CAF50; */
    margin: 0px;
    /* font-family: 'Timmana', sans-serif; */
}

.scheme-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

.scheme-img img {
    width: 14%;
    /* border: 5px solid #FFFFFF; */
    /* box-sizing: border-box; */
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
    margin: 0px 12px;
}

.content-desp {
    text-align: center;
    padding: 0px 0px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.content-desp p {
    font-family: Mallanna;
    font-weight: 500;
    font-size: 32px;
    margin-top: 15px;
}

.content-desp h2 {
    font-size: 36px;
    line-height: 131.6%;
    font-family: 'Timmana', sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    justify-content: center;
    margin-bottom: 0px;
}

.content-desp h3 {
    font-size: 32px;
    line-height: 131.6%;
    font-family: 'Timmana', sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
    color: #07127B;
    justify-content: center;
    background: #558B2F;
    padding: 20px 10px 6px 10px;
    border-radius: 11px;
    /* width: 55%; */
    margin: 0px auto;
    color: white;
    line-height: 29px;
    margin-bottom: 20px;
}

.launch-button button {
    width: 225px;
    height: 60px;
    /* left: 706px; */
    /* top: 733px; */
    background: linear-gradient(78.64deg, #4CAF50 -10.44%, #191616 138.66%);
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 14px 18px rgba(0, 0, 0, 0.39);
    border-radius: 12px;
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.cm-qoute-bottom {
    background: #4CAF50;
    /* border-radius: 53px; */
    color: white;
    border-radius: 20px 20px 0px 0px;
    text-align: center;
    padding: 0px;
    /* margin-bottom: 0px; */
    /* border: 4px solid #4CAF50; */
    /* border-bottom: 0px; */
}

marquee {
    font-size: inherit;
}

.cm-qoute-bottom h1 {
    /* background: #071B79; */
    /* border-radius: 53px; */
    /* color: white; */
    border-radius: 154px 50px 0px 0px;
    /* text-align: center; */
    padding: 11px;
    margin-bottom: 0px;
    font-family: 'Timmana', sans-serif;
    font-size: 25px;
    /* line-height: 33px; */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.bottom-qoute h1 {
    font-size: 47px;
    color: #11248d;
    margin-top: 23px;
}


/* .blinking {
    animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
    0% {
        color: #fff;
    }
    49% {
        color: #fff;
    }
    60% {
        color: transparent;
    }
    99% {
        color: transparent;
    }
    100% {
        color: #fff;
    }
} */


/* page 2 */

.page-section2 {
    background: url(../images/main-bg-min.jpg) no-repeat;
    height: 100vh;
    background-size: cover;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.count-box {
    /* background: #009688; */
    margin-bottom: 10px;
    height: 96px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border-radius: 17px; */
    color: white;
    /* background: linear-gradient(157deg, #00B548 -10.44%, #173767 100%); */
}

.table-class {
    /* background: #8BC34A !important; */
    padding: 0px 15px 15px 15px;
    border-radius: 15px;
    background: #37474F;
    height: 493px;
    overflow: hidden;
}

.table {
    color: #fff;
}

.table thead th {
    font-family: Mallanna;
    border-bottom: 1px solid #dee2e6;
    font-weight: normal;
    font-size: 18px;
}

.table td,
.table th {
    padding: 7px 4px;
    vertical-align: top;
    border-top: 1px solid #00000036;
    font-weight: normal;
    font-family: Mallanna;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #00000036;
}

.table thead tr th {
    background-color: #ffffff;
    position: sticky;
    z-index: 100;
    top: -1px;
    color: black;
    /* border-radius: 48px; */
}

.page2-marquee-img img {
    margin-top: 13px;
    width: 10%;
    margin-right: 51px;
}

.count-box h3 {
    font-family: 'Ramabhadra';
    color: black;
}

.count-box span {
    font-size: 35px;
    color: #F44336;
    font-family: 'Oswald', sans-serif;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    left: 47%;
    top: 45%;
    width: 60px;
    height: 60px;
    /* margin: -75px 0 0 -75px; */
    border-radius: 50%;
    border: 1px solid transparent;
    border-top-color: #131313;
    border-bottom-color: #131313;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
    z-index: 1001;
}

.loader-data {
    position: absolute;
    left: 46%;
    top: 54%;
    color: #131313;
    z-index: 9999;
}

.loader-data p {
    font-family: Mallanna;
}


/* #loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}*/

#loader:after {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border-radius: 4%;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
    background: #131313;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #F5F5F5;
    z-index: 1000;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}


/* Loaded */

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    background-color: rgb(3, 3, 110);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    background-color: rgb(5, 110, 49);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}

.btn {
    top: 0;
    left: 0;
    transition: all .15s linear 0s;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: #404040;
    box-shadow: -6px 6px 0 #028618;
    text-decoration: none;
}

.btn:hover {
    color: #fff;
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0 #535453;
}

.farm-box1 {
    width: 47%;
    background: #8BC34A;
    border-radius: 34px 34px 12px 12px;
    margin: 10px;
}